{% extends "base.html" %} {% block title %}Issue Statement{% endblock %} {% block content
%}
<h1 align="center">Your Charging Sessions</h1>
<ul class="list-group list-group-flush" id="charging_sessions">
  {% for charging_session in user.evs[0].sessions %}
  <li class="list-group-item">
    EV: {{ user.evs[0].brand + " " + user.evs[0].model  }} 
    <br />
    connection: {{ charging_session.connection_date[:4] + "/" + charging_session.connection_date[4:6] + "/" + charging_session.connection_date[6:] + "  " + charging_session.connection_time[:2] + ":" + charging_session.connection_time[2:4] + ":" + charging_session.connection_time[4:]}}
    <br />
    charging_finish: {{ charging_session.done_date[:4] + "/" + charging_session.done_date[4:6] + "/" + charging_session.done_date[6:] + "  " + charging_session.done_time[:2] + ":" + charging_session.done_time[2:4] + ":" + charging_session.done_time[4:]}}
    <br />
    disconnection: {{ charging_session.disconnection_date[:4] + "/" + charging_session.disconnection_date[4:6] + "/" + charging_session.disconnection_date[6:] + "  " + charging_session.disconnection_time[:2] + ":" + charging_session.disconnection_time[2:4] + ":" + charging_session.disconnection_time[4:]}}
    <br />
    kWh_delivered: {{ charging_session.kWh_delivered }}
    <br />
    protocol: {{ charging_session.protocol }}
    <br />
    payment: {{ charging_session.payment }}
    <button type="button" class="close" onClick="deleteSession({{ charging_session.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Issue Statement</button>
  </div>
</form>
{% endblock %}