<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Charts{% endblock %} {% block content
%}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>
    </br>
    </br>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>

      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	    {% for item in values %}
              {{ item }},
            {% endfor %}]
          }
	]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>

    <form method="POST">
      <div class="form-group">
        <label for="axis_y">Y-axis to plot:</label>
        <select name="axis_y" id="axis_y">
          <option value="total_money" {% if y == "total_money" %} selected {% endif %}>Total Money Paid</option>
          <option value="total_kwh" {% if y == "total_kwh" %} selected {% endif %}>Total KWh Delivered</option>
          <option value="kwh" {% if y == "kwh" %} selected {% endif %}>KWh Delivered</option>
          <option value="money" {% if y == "money" %} selected {% endif %}>Money Paid</option>
        </select>
      </div>

      <div class="form-group">
        <label for="axis_x">X-axis to plot:</label>
        <select name="axis_x" id="axis_x">
          <option value="Index" {% if x == "Index" %} selected {% endif %}>Sessions</option>
          <option value="Dates" {% if x == "Dates" %} selected {% endif %}>Session Dates</option>
        </select>
      </div>

      <br />
      <div align="center">
        <button type="submit" name="plot" value="plot" class="btn btn-primary" style="display:inline-block;">Show Chart</button>
        <button type="submit" name="back" value="back" class="btn btn-primary" style="display:inline-block;margin-top:0;">Go Back to Statement</button>
      </div>
    </form>

  </center>
</body>
</html>
{% endblock %}