<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }}>

    <title>{% block title %}Charging{% endblock %}</title>
  
  </head>


  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %} {% if category ==
  'error' %}
  <div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% else %}
  <div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}


  <h1 align="center">Charging...</h1>
  </br>
  </br>
  <h4 align="center" id="duration">Please wait. Total Charging duration in minutes is {{ duration }}</h4>
  </br>
  <h4 align="center" id="estimated_cost">
    {% if session.protocol == "Level 1: Low" %}
      Estimated cost is {{ round_cost(1*0.15*session.kWh_delivered) }}$
    {% elif session.protocol == "Level 2: Medium" %}
      Estimated cost is {{ round_cost(2*0.15*session.kWh_delivered) }}$
    {% else %}
      Estimated cost is {{ round_cost(3*0.15*session.kWh_delivered) }}$
    {% endif %}
  </h4>
  </br>
  </br>
  </br>
  <div align="center">
    <div class="progress-bar"  style="--width: 0" data-label="Charging..."></div>
  </div>

  <div class="container">{% block content %} {% endblock %}</div>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
  ></script>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='script.js') }}"
  ></script>

  <form method="POST"> 
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Stop Charging / Disconnect</button>
    </div>
  </form>
</html>  

