{% extends "base.html" %} {% block title %}Statement Filters{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Filters</h3>
  <div class="form-group">
    <label for="datefrom">Date From</label>
    <input
      type="date"
      class="form-control"
      id="datefrom"
      name="datefrom"
      placeholder="Date From"
    />
  </div>
    <div class="form-group">
    <label for="dateto">Date To</label>
    <input
      type="date"
      class="form-control"
      id="dateto"
      name="dateto"
      placeholder="Date To"
    />
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">View Statement</button>
</div>
</form>
{% endblock %}
