{% extends "base.html" %} {% block title %}Issue Statement{% endblock %} {% block content
%}
<h1 align="center">Your Charging Sessions</h1>
<ul class="list-group list-group-flush" id="charging_sessions">
  {% for charging_session in user.charging_sessions %}
  <li class="list-group-item">
    {{ charging_session.EV }}
    {{ charging_session.date }}
    {{ charging_session.charging_program }}
    <button type="button" class="close" onClick="deleteSession({{ charging_session.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Issue Statement</button>
  </div>
</form>
{% endblock %}